@import '@/styles/_variant.scss';
.modal {
  border-radius: 0px;
  //   padding: 30px;
  .modal-header {
    border: none;
    padding: 30px 30px 26px;
    font-size: 20px;

    button {
      &:active {
        box-shadow: none;
      }
    }
  }
  .modal-body {
    border: none;
    padding: 0 30px;
    font-size: 16px;
  }
  .modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 26px 30px 30px;
    border: none;
    gap: 30px;
    .btn:last-child {
      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}
