@import '@/styles/_variant.scss';

.basicInformation {
  // display: flex;
  // justify-content: space-between;
  padding-inline: 10px;
  padding-block: 30px;

  .textArea {
    // min-width: 900px;
    // width:100%;
    height: 255px;
    background: #f8f8f8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;

    h4 {
      color: $green-700;
    }
  }

  .infoTable {
    margin-top: 35px;
    display: flex;

    span {
      color: $green-500;
      font-size: 14px;
    }
    // table { 
    //   width: 100%;
    //   // table-layout: fixed;
    // } // 固定表格佈局
    th {
      padding: 5px 30px;
      border-left: 3px solid $green-200;
      white-space: nowrap; // 防止換行
    }

    td {
      padding-right: 30px;
      white-space: nowrap; // 防止換行
    }
    
  }

  
}
.userImg {
  width: 255px;
  height: 255px;
}
.img {
  width: 255px;
  height: 255px;
  object-fit: cover;
  border-radius: 50%;
}
.timeArea {
  // margin-top: 10px;
  display: flex;
  margin-bottom: 50px;

  span {
    color: $green-500;
    font-size: 14px;
  }

  th {
    padding: 5px 30px;
    border-left: 3px solid $green-200;
  }

  td {
    padding-right: 30px;
  }

}

// 積分
.underline {
  border-bottom: 1px solid $green-500;
}

.level-area {
  border-radius: 5px 5px 0 0;
}

.points-description {
  border-radius: 5px 5px 0 0;
}

.table-title {
  background-color: $green-800 ;
  color: white;
  height: 45px;

}

.table-text {
  background-color: $gray-100 ;
  height: 70px;
  border-radius: 0 0 5px 5px;
}
@media screen and (max-width: 1650px) {
  .userImg {
    width: 200px;
    height: 200px;

    .img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
@media screen and (min-width: 1400px) {
  .basicInformation {
    padding-inline: 0px;
  }

}