.user-section {
  display: flex;
  // position: relative;
  width: 100%;
}

.any-section {
  // max-width: 100%;
  padding: 70px 120px;
  box-sizing: border-box;
  flex: 1;
  line-height: 0.9; /* 調整行高，讓文字更接近邊框 */
  padding-bottom: -5px; /* 下方內縮，可使用負值 */
}

@media (max-width: 1400px) {
    .any-section {
        padding: 40px 30px;
    }
}

@media (max-width: 1200px) {
    .any-section {
        padding: 40px 15px;
    }
}

@media (max-width: 575px) {
  .any-section {
    padding: 40px 20px 30px 20px;
  }

  .user-section {
    display: inline;
    // position: relative;
    width: 100%;
  }
}

@media (max-width: 390px) {
  .any-section {
    padding: 20px 10px 30px 10px;
  }
}
