@import '@/styles/_variant.scss';

//購買須知
.buy-rule {
  margin-block: 30px 150px;
  padding: 30px;
  border: 1px solid $gray-200;
  border-radius: 5px;
  color: $green-700;
  p {
    font-weight: 600;
    padding: 5px;
    line-height: 30px;
  }
  .buy-rule-checkbox {
    font-weight: 600;
    input {
      border-color: $green-500;
      &:checked {
        background-color: black;
        border-color: $green-500;
      }
      &:focus {
        border-color: $green-500;
        box-shadow: none;
      }
    }
  }
}
