@charset "UTF-8";
.h4 {
  font-size: 32px;
  font-family: Noto Sans;
  font-weight: 500;
  margin: 0;
  word-wrap: break-word;
}

.h4-L {
  font-size: 32px;
  font-family: Libre Bodoni;
  font-style: italic;
  font-weight: 600;
  margin: 0;
  word-wrap: break-word;
}

.act-img-container {
  width: 100%;
  height: 930px;
}
.act-img-container img {
  width: 100%;
  height: 930px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  .sec4 {
    width: 100%;
    height: 300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .sec4 .item {
    text-align: center;
    margin: 0 80px !important;
    font-family: Arial, sans-serif;
    color: #8e947a;
  }
  .sec4 .number {
    font-size: 62px !important;
    font-weight: bold;
  }
  .sec4 .text {
    font-size: 16px;
    margin-top: 10px;
    color: black;
  }
}
@media (max-width: 768px) {
  .act-img-container {
    width: 100%;
    height: 600px;
  }
  .act-img-container img {
    width: 100%;
    height: 600px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .info-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 0px !important;
    margin-left: 20%;
    padding-left: 10%;
    padding-top: 10px;
    width: 100%;
    border-left: 0px solid black !important;
  }
  .activity-carousel-text,
  .activity-carousel,
  .btngrp {
    display: none !important;
  }
}
@media (max-width: 576px) {
  .sec3 {
    flex-direction: column;
    margin-top: 50px !important;
  }
  .info-title {
    align-items: center;
    width: 100%;
    margin-left: 0% !important;
    margin-top: 50px !important;
  }
  .info-title .h4 {
    width: 100%;
    font-size: 24px !important;
  }
  .info-title .h4-L {
    font-size: 24px !important;
  }
  .info-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 10px !important;
    margin-left: 0% !important;
    padding-left: 0% !important;
    padding-top: 10px;
    width: 100%;
    border-left: 0px solid black !important;
  }
  .sec4 {
    width: 100%;
    height: 200px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .sec4 .item {
    text-align: center;
    margin: 0 60px !important;
    font-family: Arial, sans-serif;
    color: #8e947a;
  }
  .sec4 .number {
    font-size: 48px !important;
    font-weight: bold;
  }
  .sec4 .text {
    font-size: 14px !important;
    margin-top: 10px;
    color: black;
  }
}
@media (max-width: 391px) {
  .act-img-container {
    width: 100%;
    height: 271px;
  }
  .act-img-container img {
    width: 100%;
    height: 271px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .info-content {
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 20%;
    padding-left: 10%;
    padding-top: 10px;
    width: 100%;
    border-left: 1px solid black;
  }
  .info-content p {
    margin: 5px 0;
    font-size: 14px !important;
  }
  .info-content a {
    text-decoration: none;
    color: inherit;
  }
  .sec4 {
    width: 100%;
    height: 200px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  .sec4 .item {
    text-align: center;
    margin: 0 30px !important;
    font-family: Arial, sans-serif;
    color: #8e947a;
  }
  .sec4 .number {
    font-size: 40px !important;
    font-weight: bold;
  }
}
.sec1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-top: 128px;
  margin-bottom: 128px;
  border-right: 1px solid black;
  border-left: 1px solid black;
}
.sec1 .CHN_name {
  font-weight: 700;
}
.sec1 .textContent {
  width: 60%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sec2 {
  display: flex; /* 將父容器設置為 flex 排版 */
  width: 100%; /* 確保容器寬度為100% */
}

.sec2 img {
  width: 50%; /* 每張圖片的寬度設定為 50% */
  -o-object-fit: cover;
     object-fit: cover; /* 視需要設定圖片填充方式 */
}

.sec3 {
  width: 75%;
  padding: 20px 0;
  margin-top: 100px;
}
.sec3 .googleMap img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.sec3 .info .info-title {
  width: 100%;
  margin-left: 20%;
  margin-top: 20px;
}
.sec3 .info .info-title p {
  margin: 0;
  font-weight: 600;
}
.sec3 .info .info-title .h4-L {
  margin-left: 50px;
}
.sec3 .info .info-content {
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 20%;
  padding-left: 10%;
  padding-top: 10px;
  width: 100%;
  border-left: 1px solid black;
}
.sec3 .info .info-content p {
  margin: 5px 0;
}
.sec3 .info .info-content a {
  text-decoration: none;
  color: inherit;
}

.sec4 {
  width: 100%;
  height: 426px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}
.sec4 .item {
  text-align: center;
  margin: 0 120px;
  font-family: Arial, sans-serif;
  color: #8e947a;
}
.sec4 .number {
  font-size: 96px;
  font-weight: bold;
}
.sec4 .text {
  font-size: 16px;
  margin-top: 10px;
  color: black;
}

.sec5 {
  background-color: #f5f5f5;
}
.sec5 .formArea {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.sec5 .formArea .signup-button {
  background-color: #8e947a;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}
.sec5 .formArea .form-container {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 1s ease, opacity 1s ease;
  width: 80%;
  max-width: 800px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sec5 .formArea .form-container.expanded {
  max-height: 1000px;
  opacity: 1;
}
.sec5 .formArea .form-container .form-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
.sec5 .formArea .form-container .form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 15px;
}
.sec5 .formArea .form-container .form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.sec5 .formArea .form-container .form-group label {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}
.sec5 .formArea .form-container .form-group input,
.sec5 .formArea .form-container .form-group select,
.sec5 .formArea .form-container .form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.sec5 .formArea .form-container .form-group textarea {
  resize: none;
  height: 100px;
}
.sec5 .formArea .form-container .form-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.sec5 .formArea .form-container .form-actions button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.sec5 .formArea .form-container .form-actions button.reset-button {
  background-color: #ccc;
  color: #333;
}
.sec5 .formArea .form-container .form-actions button.submit-button {
  background-color: #8e947a;
  color: white;
}

.sec5 {
  background-color: #f5f5f5;
}
.sec5 .activity-carousel-text {
  text-align: center;
  padding: 20px;
  background-color: #f5f5f5;
}
.sec5 .activity-carousel-text .section-title {
  font-size: 24px;
  text-align: start;
  font-weight: 500;
  color: #666;
  border-bottom: 1px solid #666;
  margin-bottom: 20px;
}
.sec5 .activity-carousel-text .activity-name h3 {
  font-size: 28px;
  margin: 5px 0;
  color: #333;
}
.sec5 .activity-carousel-text .activity-name p {
  font-size: 18px;
  color: #999;
}
.sec5 .activity-carousel {
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.sec5 .activity-carousel button {
  background-color: #666;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
  font-size: 16px;
  border-radius: 5px;
}
.sec5 .activity-carousel button:hover {
  background-color: #555;
}
.sec5 .activity-carousel .cardLeft {
  width: 963px;
  flex-shrink: 0;
  margin: 0;
  transition: transform 0.5s ease, z-index 0.5s ease;
}
.sec5 .activity-carousel .cardLeft.active {
  transform: scale(1.05);
  z-index: 1;
}
.sec5 .activity-carousel .cardLeft.active .card-content {
  display: flex;
}
.sec5 .activity-carousel .cardLeft:not(.active) {
  width: 30%;
  height: 30%;
}
.sec5 .activity-carousel .cardLeft:not(.active) .cardL {
  width: 50%;
  height: 50%;
}
.sec5 .activity-carousel .cardLeft:not(.active) .cardL .card-img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.sec5 .activity-carousel .cardLeft:not(.active) .cardL .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec5 .activity-carousel .cardLeft:not(.active) .card-content {
  display: none !important;
}
.sec5 .activity-carousel .cardLeft.left {
  transform: translateX(-100%);
}
.sec5 .activity-carousel .cardLeft.right {
  transform: translateX(100%);
}
.sec5 .activity-carousel .cardLeft .cardL {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 963px;
  height: 397px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.sec5 .activity-carousel .cardLeft .cardL .card-img {
  padding: 10px;
  width: 476px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.sec5 .activity-carousel .cardLeft .cardL .card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sec5 .activity-carousel .cardLeft .cardL .card-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sec5 .activity-carousel .cardLeft .cardL .card-content .card-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: xx-large;
  color: black;
  width: 100%;
  border-bottom: 1px solid black;
}
.sec5 .activity-carousel .cardLeft .cardL .card-content .card-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: bold;
  font-size: xx-large;
  color: black;
  width: 100%;
}
.sec5 .activity-carousel .cardLeft .cardL .card-content .card-info p {
  margin: 10px 0;
  font-size: 14px;
}
.sec5 .activity-carousel .cardLeft .cardL .card-content .card-info .title {
  font-size: 20px;
}
.sec5 .activity-carousel .cardLeft .cardL .card-content .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sec5 .activity-carousel .cardLeft .cardL .card-content .card-footer .badge {
  background-color: #90957a;
  color: white;
  border-radius: 12px;
  padding: 4px 12px;
  font-size: 12px;
}
.sec5 .activity-carousel .cardLeft .cardL .card-content .card-footer .status {
  color: #963827;
  font-weight: bold;
}
.sec5 .activity-carousel .cardLeft .cardL .card-content .card-footer .ph-heart {
  font-size: 24px;
  color: #963827;
}
.sec5 .btngrp {
  position: relative;
  top: 200px;
  z-index: 10;
}/*# sourceMappingURL=index.module.css.map */