@import '@/styles/_variant.scss';
.modal {
  transform: translateX(150%);
  border-radius: 0px !important;
  width: 400px;
  .modal-header {
    border: none;
    padding: 30px 30px 26px;
    font-size: 20px;

    button {
      &:active {
        box-shadow: none;
      }
    }
  }
  .modal-body {
    border: none;
    padding: 0 30px;
    font-size: 16px;
  }
  .modal-footer {
    display: flex;
    justify-content: center;
    padding: 26px 30px 30px;
    border: none;
    // gap: 20px;
  }
}
