.h3 {
  font-size: 32px;
  font-family: "Noto Sans";
  font-weight: 500;
  margin: 0;
  word-wrap: break-word;
}

.h1-L {
  font-size: 64px;
  font-family: "Libre Bodoni";
  font-style: italic;
  font-weight: 700;
  margin: 0;
  word-wrap: break-word;
}

.btn-danger {
  height: 50px;
  width: 200px;
  background-color: #963827;
  color: #fff;
  border-radius: 3px;
  border: 1px solid #963827;
}
.btn-danger:hover {
  background-color: #6f2619;
  border-color: #6f2619;
  transition: 0.3s;
}

.home-bestSeller {
  position: relative;
  background-color: #626553;
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: start;
}
.home-bestSeller .bestSeller-brand {
  position: absolute;
  top: 680px;
  left: 2%;
  color: #fff;
  opacity: 0.3;
  font-size: 200px;
  font-weight: 300;
}
.home-bestSeller .bestSeller-text {
  width: 48%;
  left: 50%;
  top: 0%;
  font-weight: 600;
  border-bottom: 3px solid #8a8a8a;
  position: absolute;
  color: #fff;
}
.home-bestSeller .bestSeller-slogan {
  position: absolute;
  left: 50%;
  top: 18%;
  font-weight: 500;
  color: #fff;
}
.home-bestSeller .bestSeller-card {
  position: absolute;
  right: 4%;
  top: 30%;
  color: #fff;
}
.home-bestSeller .bestSeller-card button {
  width: 315px;
}
.home-bestSeller .bestSeller-card .card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #8a8a8a;
  padding: 35px;
  margin-right: 51px;
}
.home-bestSeller .bestSeller-card .card1 img {
  width: 315px;
  height: 315px;
}
.home-bestSeller .bestSeller-card .card2 {
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #8a8a8a;
}
.home-bestSeller .bestSeller-card .card2 img {
  width: 315px;
  height: 315px;
}
.home-bestSeller .bestSeller-bgi-pc {
  width: 86%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-mobile {
  display: none;
}

/* Media Queries */
@media (max-width: 1921px) {
  .home-bestSeller .bestSeller-brand {
    top: 75%;
  }
}
@media (max-width: 1440px) {
  .home-bestSeller .bestSeller-brand {
    top: 60%;
    font-size: 150px;
  }
  .home-bestSeller .bestSeller-slogan {
    top: 18% !important;
  }
  .home-bestSeller .bestSeller-card {
    top: 30%;
  }
  .home-bestSeller .bestSeller-card button {
    width: 215px !important;
  }
  .home-bestSeller .bestSeller-card .card1,
  .home-bestSeller .bestSeller-card .card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px !important;
  }
  .home-bestSeller .bestSeller-card .card1 img,
  .home-bestSeller .bestSeller-card .card2 img {
    width: 215px !important;
    height: 215px !important;
  }
  .home-bestSeller .bestSeller-bgi-pc {
    width: 86%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 1200px) {
  .home-bestSeller {
    height: 698px;
  }
  .home-bestSeller .bestSeller-bgi-pc {
    width: 86%;
    height: 697px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home-bestSeller .bestSeller-brand {
    top: 500px;
    font-size: 120px !important;
  }
  .home-bestSeller .bestSeller-slogan {
    top: 23% !important;
  }
  .home-bestSeller .bestSeller-card {
    top: 35%;
    right: 10% !important;
  }
  .home-bestSeller .bestSeller-card button {
    width: 175px !important;
  }
  .home-bestSeller .bestSeller-card .card1,
  .home-bestSeller .bestSeller-card .card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px !important;
  }
  .home-bestSeller .bestSeller-card .card1 img,
  .home-bestSeller .bestSeller-card .card2 img {
    width: 175px !important;
    height: 175px !important;
  }
}
@media (max-width: 992px) {
  .home-bestSeller {
    height: 698px;
  }
  .home-bestSeller .bestSeller-brand {
    top: 500px;
    font-size: 100px !important;
  }
  .home-bestSeller .bestSeller-slogan {
    top: 18% !important;
  }
  .home-bestSeller .bestSeller-card {
    top: 35%;
    right: 1% !important;
  }
  .home-bestSeller .bestSeller-card button {
    width: 175px !important;
  }
  .home-bestSeller .bestSeller-card .card1,
  .home-bestSeller .bestSeller-card .card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px !important;
  }
  .home-bestSeller .bestSeller-card .card1 img,
  .home-bestSeller .bestSeller-card .card2 img {
    width: 175px !important;
    height: 175px !important;
  }
}
@media (max-width: 768px) {
  .btn-mobile {
    display: inline-block;
    width: 100%;
  }
  .home-bestSeller .bestSeller-bgi-pc {
    width: 86%;
    height: 700px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home-bestSeller .bestSeller-brand {
    top: 520px;
    font-size: 120px !important;
  }
  .home-bestSeller .bestSeller-text {
    width: 48%;
    left: 50%;
    top: 0%;
    font-size: 56px;
    font-weight: 600;
    border-bottom: 3px solid #8a8a8a;
    color: #fff;
  }
  .home-bestSeller .bestSeller-slogan {
    font-size: 25px;
    top: 15% !important;
  }
  .home-bestSeller .bestSeller-card {
    top: 30%;
    right: 10% !important;
  }
  .home-bestSeller .bestSeller-card button {
    width: 175px !important;
  }
  .home-bestSeller .bestSeller-card .card1 {
    padding: 15px !important;
  }
  .home-bestSeller .bestSeller-card .card1 img {
    width: 200px !important;
    height: 200px !important;
  }
  .home-bestSeller .bestSeller-card .card2 {
    display: none;
  }
  .home-bestSeller .bestSeller-card .btn-pc {
    display: none;
  }
}
@media (max-width: 576px) {
  .btn-mobile {
    display: inline-block;
    width: 100%;
  }
  .home-bestSeller .bestSeller-bgi-pc {
    width: 86%;
    height: 700px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .home-bestSeller .bestSeller-brand {
    top: 530px;
    font-size: 120px !important;
  }
  .home-bestSeller .bestSeller-text {
    width: 60%;
    left: 1%;
    top: 0%;
    font-size: 48px;
    font-weight: 600;
    border-bottom: 3px solid #8a8a8a;
    color: #fff;
  }
  .home-bestSeller .bestSeller-slogan {
    font-size: 24px;
    top: 15% !important;
    left: 1%;
  }
  .home-bestSeller .bestSeller-card {
    top: 30%;
    right: 10% !important;
  }
  .home-bestSeller .bestSeller-card button {
    width: 175px !important;
  }
  .home-bestSeller .bestSeller-card .card1 {
    padding: 15px !important;
  }
  .home-bestSeller .bestSeller-card .card1 img {
    width: 200px !important;
    height: 200px !important;
  }
  .home-bestSeller .bestSeller-card .card2 {
    display: none;
  }
  .home-bestSeller .bestSeller-card .btn-pc {
    display: none;
  }
}
@media (max-width: 391px) {
  .btn-mobile {
    display: inline-block;
    width: 390px;
  }
  .home-bestSeller {
    height: 438px;
  }
  .home-bestSeller .bestSeller-brand {
    position: absolute;
    top: 83% !important;
    font-size: 4rem !important;
  }
  .home-bestSeller .bestSeller-text {
    width: 80%;
    font-size: 2.5rem;
    top: 0%;
    left: 4%;
    font-weight: 600;
    border-bottom: 1px solid #fff;
    color: #fff;
  }
  .home-bestSeller .bestSeller-slogan {
    top: 15%;
    left: 4%;
    font-size: medium;
    color: #fff;
  }
  .home-bestSeller .bestSeller-card {
    right: 3%;
    top: 30%;
  }
  .home-bestSeller .bestSeller-card .btn-pc {
    display: none;
  }
  .home-bestSeller .bestSeller-card .card1 {
    height: 241px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
    margin-right: 0;
  }
  .home-bestSeller .bestSeller-card .card1 .card-brand {
    display: none;
  }
  .home-bestSeller .bestSeller-card .card1 img {
    width: 132px !important;
    height: 134px !important;
    padding-top: 10px !important;
    margin-bottom: 34px !important;
  }
  .home-bestSeller .bestSeller-card .card2 {
    display: none;
  }
  .home-bestSeller .bestSeller-bgi-pc {
    display: none;
  }
  .home-bestSeller .bestSeller-bgi-mobile {
    width: 390px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 391px) {
  .bestSeller-bgi-mobile {
    display: none;
  }
}/*# sourceMappingURL=index.module.css.map */