@import '@/styles/global.scss';

.coupon-lg {
    width: 550px;
    height: 170px;
    margin-bottom: 20px;
    background-image: url("/discount/coupon/coupon-lg-black.svg");
    background-size: cover;

    .img {
        width: 98px;
        height: 98px;
        margin-inline: 10px;
        border-radius: 50%;
        background-image: url("/discount/coupon/brands/nars.svg");
        background-size: cover;
    }

    .text {
        color: #fff;
        width: 250px;

        .h3-L {
            font-size: 24px;
        }
    }

    .btn-outline-light {
        background-color: #fff;
        color: #000;
        border-radius: 1px;
        padding: 0px;
        width: 100px;
        height: 30px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
            color: #fff;
            transition: ease 0.5s;
        }
    }
}


@media (max-width: 960px) {
    .coupon-lg{
        width: 500px;
        height: 160px;
        background-image: url("/discount/coupon/coupon-sm-black.svg");
        .img {
            width: 90px;
            height: 90px;
        }
        .text {
            width: 180px;
            .h3-L {
                font-size: 18px;
            }
            .h2-L {
                font-size: 36px;
            }
            .h6 {
                font-size: 16px;
            }
        }
        
        .align-self-end{
            .p{
                font-size: 8px;
            }
        }
    }
}


@media (max-width: 576px) {
    .coupon-lg{
        width: 300px;
        height: 94px;
        background-image: url("/discount/coupon/coupon-sm-black.svg");
        .img {
            width: 60px;
            height: 60px;
        }
        .text {
            width: 130px;
            .h3-L {
                font-size: 11px;
            }
            .h2-L {
                font-size: 24px;
            }
            .h6 {
                font-size: 8px;
            }
        }
        .btn-outline-light {
            width: 50px;
            height: 20px;
            font-size: 10px;
        }
        
            .p{
                line-height: 100%;
                font-size: 8px;
            }
        
    }
    
}

