@import '@/styles/_variant.scss';


.nav {
    margin-top: 3%;

    a {
        color: $green-500;
    }
}

.discount-group {
    margin-top: 20px; // 上方間距 
}

.discount {
    width: 100%; // 容器寬度
    height: auto; // 高度自動
    overflow: hidden; // 隱藏溢出部分

    .img {
        max-width: 100%; // 使圖片最大寬度為容器的寬度
        height: auto; // 高度自動調整
        margin-bottom: 5%; // 每個優惠的下方間距
    }
}

.carouselContainer {
    display: none;
}

@media (max-width: 576px) {
    .carouselContainer {
        display: block;
        ul {
            bottom: 10px;
            li {
                button:before {
                    color: #fff !important;
                }
                &:active button:before{
                    color: #fff !important;
                }
                
            }
        }
    }

    .nav {
        display: none;
    }

    .discount-group {
        display: none;
    }
}

